include djsp/files/.env
include djsp/files/.gitignore
include djsp/files/.secrets.yaml
include djsp/files/LICENSE
include djsp/files/manage.py
include djsp/files/poetry.toml
include djsp/files/pyproject.toml
include djsp/files/README.md
include djsp/files/requirements-dev.txt
include djsp/files/requirements.txt
include djsp/files/settings.yaml
include djsp/files/proj/__init__.py
include djsp/files/proj/asgi.py
include djsp/files/proj/settings.py
include djsp/files/proj/urls.py
include djsp/files/proj/wsgi.py
include djsp/files/proj/core/__init__.py
include djsp/files/proj/core/admin.py
include djsp/files/proj/core/apps.py
include djsp/files/proj/core/models.py
include djsp/files/proj/core/tests.py
include djsp/files/proj/core/urls.py
include djsp/files/proj/core/views.py
include djsp/files/proj/core/templates/core/base.html
include djsp/files/proj/core/templates/core/home.html
